@CHARSET "UTF-8";

#reader-toc-footer{
	background-color:#272727;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	border:none;
}
#reader-toc-back{
	background-image: url("../images/ico-btn-reader-back.png");
}

#reader-toc-btn-bookmark{
	background-image: url("../images/ico-btn-reader-bookmark.png");
}

#reader-toc-btn-note{
	background-image: url("../images/ico-btn-reader-bookmark.png");
}

#reader-toc-setting a{
	background-repeat: no-repeat;
	background-position:left center;
	background-size: 24px 24px;
	background-color:transparent;
	width:24%;
	line-height:28px;
	margin:5px 0;
	padding:0px;
	height:28px;
	border:none;
	display:inline-block;
	text-shadow: none;
	color: #fff;
	font-weight:normal;
}


#reader-toc-btn-list{
	background-image: url("../images/ico-btn-reader-toc.png");
}