@CHARSET "UTF-8";

.reader-toc-footer{
	background-color:#272727;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	border:none;
}



.reader-toc-footer a{
	background-repeat: no-repeat;
	background-position:left center;
	background-size: 24px 24px;
	background-color:transparent;
	line-height:28px;
	width:16%;
	margin:10px 0;
	padding:0px;
	height:28px;
	border:none;
	display:inline-block;
	text-shadow: none;
	color: #fff;
	font-weight:normal;
}

.reader-toc-footer a.reader-toc-back{
	width: 42%;
	text-align: left;
	padding-left: 25px;
}


.reader-toc-footer a:link,
.reader-toc-footer a:visited{
	color:#fff !important;
	text-decoration: none;
}



